* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 20px 0;
}

.box {
    padding: 1%;
}

html,
body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* HEADER */
header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../CSS/backgroundimage_cc.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../CSS/backgroundimage_cc.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    background-attachment: fixed;
}

h1 {
    position: relative;
    letter-spacing: 1px;
    word-spacing: 4px;
    top: 30px;
    text-align: center;
    color: white;
    border-bottom-style: solid;
    font-weight: 500;
}

/* NAVIGATION */

.navigation {
    color: white;
    margin-top: -60px;
}
.main_nav {
    float: right;
    list-style: none; 
    margin-right: 20px;
}

.main_nav li {
    display: inline-block; 
    margin-left: 40px; 
}

.navigation a {    
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    color: white;
    text-decoration: underline;
}

/* CONTENT */

.artist_titel {
    margin-top: 20px;
    padding: 50px;
}

.content,
    .content2,
    .content3,
    .content4,
    .content5{
    float: left;
    display: block;
    margin-right: 50px;
    width: 90%;
}

.text {
    margin-left: 50px;
}
.art_photos img, 
.art_photos2 img,
.art_photos3 img,
.art_photos4 img,
.art_photos5 img {
    text-align: left;
}

.art_photos img, 
.art_photos2 img,
.art_photos3 img,
.art_photos4 img,
.art_photos5 img {
    height: auto;
    width: 400px; 
    margin-bottom: 10px;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
}

p {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 50px;
}

/*CONTACT*/

footer {
    text-align: left;
    float: left;
    display: block;
    padding: 25px;
    font-size: 75%;
}

footer li {
    text-decoration: none;
    list-style-type: none;
}

footer li:hover {
    text-decoration-color: white;
}

/* ZOOM */

.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}